@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,100;1,400;1,600;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

.header {
  padding: 1rem 0;
  background-color: #60495a;
  color: #e9edc9;
}
.header .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .inner .logo-container .logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
}
.header .inner nav.nav .links-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.header .inner nav.nav .links-list .navlink {
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.header .inner nav.nav .links-list .navlink a {
  font-size: 1.2em;
  padding: 0.25rem 0.5rem;
}
.header .inner nav.nav .links-list .navlink:hover {
  color: #d4a373;
}

body {
  background-color: #fefae0;
  color: #231f20;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.main {
  position: relative;
  margin-top: 5rem;
}
.main > section {
  position: relative;
}
.main > section > .inner {
  position: relative;
}

.inner {
  padding: 0 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #231f20;
  border-radius: 0.25rem;
  transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.btn:hover {
  transform: scale(105%);
  -o-transform: scale(105%);
  -ms-transform: scale(105%);
  -moz-transform: scale(105%);
  -webkit-transform: scale(105%);
}

#landing-section div.inner .sub-heading {
  margin: 0 0 1rem;
  font-size: 2em;
  font-weight: 400;
  color: #60495a;
}
#landing-section div.inner .post-edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#landing-section div.inner .post-edit-form .form-field {
  display: flex;
  flex-direction: column;
}
#landing-section div.inner .post-edit-form .form-field.form-errors {
  padding: 0.5rem;
  background-color: #d7504d;
  color: #fefae0;
  list-style: disc inside;
}
#landing-section div.inner .post-edit-form .form-field.form-errors.--hidden {
  display: none;
}
#landing-section div.inner .post-edit-form .contrasted-input {
  padding: 0.5rem;
  background-color: #60495a;
  color: #ccd5ae;
  border-radius: 0.25rem;
}
#landing-section div.inner .post-edit-form .label {
  font-size: 1.2em;
  font-weight: 600;
}
#landing-section div.inner .post-edit-form .input {
  font-size: 1em;
}
#landing-section div.inner .post-edit-form .input:focus {
  background-color: #faedcd;
  color: #231f20;
  outline-color: #7f5539;
  box-shadow: 0px 0px;
}
#landing-section div.inner .post-edit-form .form-field.post-title-field input.input {
  background-color: #60495a;
  color: #ccd5ae;
}
#landing-section div.inner .post-edit-form .form-field.post-content-field .post-content {
  min-height: 5rem;
}
#landing-section div.inner .post-edit-form .form-field.form-submission-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
#landing-section div.inner .post-edit-form .form-field.form-submission-field .micro-field {
  display: flex;
  gap: 0.5rem;
}/*# sourceMappingURL=post_editor.css.map */