@use "./components/variable";
@use "./components/clearfix";
@use "./components/navigation";
@use "./components/base";

#landing-section{
  div.inner{

    .sub-heading{
      margin: 0 0 1rem;
      
      font-size: 2em;
      font-weight: 400;
      color: variable.$eggplant;
    }

  }
}

#post-section{
  margin-top: 2rem;
  div.inner{

    .post-actions{
      padding: 1rem 0;

      .btn{
        font-weight: 600;
        background-color: variable.$raisin-black;
        color: variable.$pale-spring-bud-2;
        &:hover{
          background-color: variable.$eggplant;
        }
      }
    }

    .posts-list{
      background-color: variable.$pale-spring-bud-2;
      color: variable.$fawn;
      border-radius: .5rem;
      font-weight: 600;

      border: 2px solid variable.$fawn;
      border-radius: .5rem;
      overflow: hidden;

      .no-posts{
        padding: .5rem 2rem;

        font-size: 1.5em;
        text-align: center;
        background-color: variable.$minion-yellow;
        color: variable.$raisin-black;
      }
      .post-error{
        padding: .5rem 2rem;

        font-size: 1.2em;
        text-align: justify;
        background-color: variable.$indian-red;
        color: variable.$cornsilk;
      }
    }
  }
}