@use "./variable";
body {
  background-color: variable.$cornsilk;
  color: variable.$raisin-black;

  font-family: variable.$montserrat;
  font-size: 18px;
}

.main {
  position: relative;
  margin-top: 5rem;
  & > section {
    position: relative;
    & > .inner {
      position: relative;
    }
  }
}

.inner {
  padding: 0 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid variable.$raisin-black;
  border-radius: 0.25rem;

  $_trs: all 0.3s ease-out;
  @include variable.transition($_trs);

  &:hover {
    $_trf: scale(105%);
    @include variable.transform($_trf);
  }
}
